h1 {
    color: white;
    background-color: #553555;
    text-align: center;
    font-family: cursive;
}

h2 {
    color: white;
    background-color: #755B69;
    text-align: center;
    font-family: sans-serif;
}
h3 {
    color: #070707;
    font-family: sans-serif;
}